:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --font-family: "Lexend Deca", sans-serif;
    --font-family2: "Big Shoulders Display", sans-serif;
}

.conteudo {
    height: 100vh;
    height: 100svh;
}

div .row{
    margin: 0px;
}

div .config-all {
    width: 320px;
}


.config-all img {
    width: 50px;
    margin-bottom: 25px;
}

.config-all h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: var(--font-family2);
    text-transform: uppercase;
}

.config-all p {
    color: var(--Transparent-white);
    line-height: 30px;
    margin-bottom: 25px;
}

#config-left {
    background-color: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.geral {
    margin: 40px;
}

div .btn {
    border-radius: 100px;
    padding: 10px 25px;
    font-weight: 500;
}

div .sedans {
    color: var(--Bright-orange);
}

div .text {
    color: var(--Dark-cyan);
}

div .luxury {
    color: var(--Very-dark-cyan);
}

#config-center {
    background-color: var(--Dark-cyan);
}

#config-right {
    background-color: var(--Very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 600px) {

    #config-left {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .config-all p {
        margin-bottom: 100px;
    }

    #config-right {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}